
     
      <form class="form-inline">

        <form class="form-inline">
         
            
            <input accept=".ty" id="archivo" type="file" (change)="CargarArchivo($event)" >
            
            <!--<input type="submit" value="Enviar">-->
          
        </form>
        
        <form class="form-inline">
          <button mdbBtn (click)="GuardarArchivo()"   color="success" outline="true" class="waves-light" mdbWavesEffect type="button" >Guardar Archivo</button>
        </form>


        
        <form class="form-inline">          
            <button mdbBtn (click)="ejecutar()" color="success" outline="true" class="waves-light" mdbWavesEffect type="button"><i class="fas fa-play"></i>Ejecutar</button>
            
        </form>
        <form class="form-inline">
          <button mdbBtn (click)="GenerarReporteTabla('TablaSim')"   color="success" outline="true" class="waves-light" mdbWavesEffect type="button" >Tabla de Simbolos</button>
        </form>


        <form class="form-inline">
          <button mdbBtn (click)="recorrer('Ast')"   color="success" outline="true" class="waves-light" mdbWavesEffect type="button" >Reporte Ast</button>
        </form>


        <form class="form-inline">
          <button mdbBtn (click)="GenerarReporteErrores('TablaError')"   color="success" outline="true" class="waves-light" mdbWavesEffect type="button" >Tabla de Errores</button>
        </form>
    </form>

    


<!-- Start your project here-->
<!--<div class="container-fluid " style="background-color: #212121;">-->
  <br>
  
  <!-- AREA DE TEXTO -->

<div class="row">


  <!-- AREA DE EDITORES DE TEXTO -->
   
  <div class="col-sm-6">
    <h3 style="color: aqua;"><i class="fas fa-file-code"></i> Entrada</h3> 
    <ngx-codemirror
      [(ngModel)]="entrada"
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'javascript'
      }"
    ></ngx-codemirror>
  </div>



  <div class="col-sm-6">
    <h3 style="color: aqua;"><i class="fas fa-terminal"></i> Consola</h3>
    <ngx-codemirror
      [(ngModel)]="consola"
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'markdown'
      }"
    ></ngx-codemirror>
  </div>
  
</div>


<!--
  <button class="tablink" (click)="openPage('TablaSim')">Tabla de Simbolos</button>
-->  
    
    <div id="TablaSim" *ngIf="MostrarTablaSimbolos" class="tabcontent" style="background-color: #212121;">
      <table mdbTable id= "tablasimbols" style="width:100%" bordered="true">
      
      </table>
    </div>

    <div id="Ast" *ngIf="MostrarTablaSimbolos" class="tabcontent" style="background-color: #212121;">
      <div class="overflow-auto" id = "graph" style= "text-align: center; " ></div>
      
      
    </div>
    <div id="TablaError" *ngIf="MostrarTablaSimbolos" class="tabcontent" style="background-color: #212121;">
      <table mdbTable id= "tablasErrores" style="width:100%" bordered="true">
      
      </table>
    </div>
 
<!--</div>-->



<script type="text/javascript"></script>



    